.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.card {
  aspect-ratio: 1 / 1; /* Make the cards square */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cardLink {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
}

.blogList {
  list-style: none; /* Remove default bullet points */
  padding: 0;
}

.blogListItem {
  margin-bottom: 1rem;
}

.blogLink {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
}

.title {
  background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Subtle gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Makes the gradient visible */
}

.subtitle {
  background: linear-gradient(90deg, #93c5fd, #bfdbfe, #dbeafe); /* Lighter blue gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Makes the gradient visible */
}
