@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Removed global styles for `body` to avoid Webpack errors */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.centeredContent {
  max-width: 600px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #333;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: #555;
}

.hr {
  border: none;
  border-bottom: 1px solid #efefef;
  margin: 3em auto;
}
